@import "flowbite";
@import "map.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

html,body{
    min-width: 340px !important;
    scrollbar-width: thin;
    scrollbar-color: theme('colors.gray.600') theme('colors.transparent');
}
