@import "flowbite";
@import "map.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

html,body{
    min-width: 340px !important;
    scrollbar-width: thin;
    scrollbar-color: theme('colors.gray.600') theme('colors.transparent');
}

/* Styles for the filters scrollbar */
.filters-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
}

.filters-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.filters-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.filters-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border-radius: 3px;
}